<table> <!Afficher le tableau sur la page>
    <?php for($i = 0; $i < $SIZE; $i++) { ?>
    <tr>
        <?php for($j = 0; $j <$SIZE; $j++) { ?>
        <td>
            <?= ($plateau[$i][$j]) ? '1' : '0' ?>
        </td>
        <?php } ?>
    </tr>
    <?php } ?>
</table>
    