body {
	background-color: lightblue;
}

h1 {
	text-align: center;
}

#form {
	background-color: lightgrey;
	border-color: lightgrey;
	margin: 20px 100px;
}

input {
	width: 100%;
}

input[type=text] {
	border: none;
	border-bottom: 2px solid lightblue;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=number] {
	border: 2px solid lightblue;
	border-radius: 4px;
}

input:focus {
	background-color: lightgrey;
}

input[type=submit] {
	background-color: lightgreen;
	border: none;
	border-radius: 8px;
	padding: 16px 32px;
	width: 50%;
	text-decoration: none;
	margin: 1px 275px;
	cursor: pointer;
}

